@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  line-height: normal;
}

html,
body,
#root {
  min-height: 100vh;
}

.slide-track {
  animation: scroll 60s linear 1s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-55%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-track:hover {
  animation-play-state: paused;
}

.hoverdiv {
  opacity: 0;
  transition: all 0.3s linear;
}

.caruseldiv:hover .hoverdiv {
  opacity: 1;
}
